doctype html
html
  head
    title= title
    link(
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    )
  body

    nav.navbar.navbar-expand-sm.navbar-light.bg-light 
      .container 
        a.navbar-brand(
          href="/"
        ) Odin Informational Starter Project 
        button.navbar-toggler(
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        )
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavAltMarkup
          .navbar-nav 
            a.nav-link(
              href="/"
            ) Home 
            a.nav-link(
              href="about"
            ) About 
            a.nav-link(
              href="contact-me"
            ) Contact

    .container 
      block content
    
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous"
    )